
body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    /* color: #736a8c; */
    color: #FFFFFF;
    background-color: #4d6161;
    /* color: #797979; */
    /* background-color: #4F4B4C; */
    /* background-color: #020404; */
    /* color: #646266; */
}

#alien-pic { 
    width: 250px;
    border-radius: 50%;
    border:4px solid #877EA0;
    margin-bottom: 10px;
}

h1, h2, h3, p, h4 {
    text-shadow: 0 0 5px #41209c;
    /* font-size: largeer; */
}

#bday-age { 

    background-color: #8f9e94;
    padding: 15px 20px;
    border-radius: 7px;
    margin: 50px 0 25px 0;

}
.bd-date-and-place{
    margin: 0 ;
    background-color: #8f9e94;
    padding: 10px 14px;
    margin-top:2px;
    font-size: 20px;

    border-radius: 7px;
}

#header {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.gift-section {
    margin-top: 70px;
}

.gift-title {
    margin-bottom: 0;
}

.gift-hint {
    margin-top:0; 
}
.gift-image {
    margin: 40px auto;
    width: 500px;
    height:550px;
    background-image: url("../image/gift.webp");
    background-size: cover;
    border: 6px solid #877EA0 ;
    border-radius: 10px;
}
#happy:hover {
    background-image: url("../image/200\ \(1\).webp");
    background-size: cover;
}

#roomReact:hover {
    background-image: url("../image/terified.webp");
    background-size: cover;
}

#oneword:hover {
    background-image: url("../image/m.webp");
    background-size: contain;
}

#badass:hover {
    background-image: url("../image/alderIsTheGOAT.webp");
    background-size: cover;
}

#areyouthee {
    height:250px;
    background-size: contain;
}
#areyouthee:hover {
    background-image: url("../image/areuthere.webp");
    background-size: cover;
}
footer {
    color: white;
    margin: 50px auto;
    font-size:large;
    width: 500px;
    font-style: italic;
}
a{
  color: white;  
}
